@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --first-color: #000000;
    --second-color: #F6F6F6;
    --third-color: #22D4FD;
    --hover-color: #494949;

    --font-montserrat:'Montserrat', sans-serif;
    --font-krona:"Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--first-color);
    color: var(--second-color);
    box-sizing: border-box;
}

strong {
    color: var(--third-color);
    
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    color: var(--third-color);
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.presentation {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
    font-size: 2.25rem;
    font-family: var(--font-krona);
}

.presentation__content__text {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.presentation__content__rutes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation__content__rutes_subtitle {
    font-size: 1.5rem;
    font-family: var(--font-krona);
}
    
.header__menu__link {
        color: var(--third-color);
        font-family: var(--font-montserrat);
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0 10px;
        padding: 5px 10px;
        text-decoration: none;
}

.presentation__content__rutes_link {
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--second-color);
    font-family: var(--font-montserrat);
    border: 2px solid var(--third-color);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentation__content__rutes_link:hover {
    background-color: var(--hover-color);
}

.presentation__image {
    width: 50%;
}

.footer {
    background-color: var(--third-color);
    color: var(--first-color);
    text-align: center;
    font-family: var(--font-montserrat);
    font-weight: 400;
    padding: 1.5rem;
}

@media (max-width: 1300px) {
    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }auto
    .header__menu {
        justify-content: center;
    }
    .presentation__content {
        width: auto;
    }
}

@media (max-width: 410px) {
    .presentation__content__rutes_link {
        min-width: 12.5rem;
    }
}